apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  app.kubernetes.io/name: eva-seqcol
  app.kubernetes.io/component: api

resources:
- deployment.yaml
- service.yaml
- configmap.yaml
- ingress.yaml
