SPRING_DATASOURCE_URL=jdbc:postgresql://your-postgres-host:5432/your_database_name
DDL_BEHAVIOUR=update
SPRING_JPA_PROPERTIES_HIBERNATE_DEFAULT_SCHEMA=seqcol
FTP_PROXY_HOST=
FTP_PROXY_PORT=0
SCAFFOLDS_ENABLED=true
